<nav class="navbar navbar-expand-lg navbar-dark" style="position: absolute; right: 20px">
  <div class="nav-item profile-icon d-flex ">
    <div class="nav-link mt-2 mx-2">
      <div class="dropdown2">
        <fa-icon [icon]="faGlobe" class="icon fa-m mx-2" style="color: #eee;"></fa-icon>
        <button class="dropdown-toggle" (click)="toggleDropdown2()"></button>
        <ul class="dropdown-menu" [class.show]="showDropdown2">
          <li (click)="switchLanguage('en')" class="dropdown-item">English</li>
          <li (click)="switchLanguage('ch')" class="dropdown-item">中文</li>
        </ul>
      </div>
    </div>

    <div class="nav-link mt-2" *ngIf="authenticationService.isUserLoggedIn()">
      <div class="dropdown">
        <fa-icon [icon]="faBars" class="icon fa-m mx-2" style="color: #eee;"></fa-icon>
        <button class="dropdown-toggle" (click)="toggleDropdown1()"></button>
        <ul class="dropdown-menu" [class.show]="showDropdown1">
          <li [routerLink]="getOwnProfileLink()" (click)="selectOption()" class="dropdown-item">{{ 'Home' | translate }}</li>
          <li *ngIf="authenticationService.isAdmin()" class="dropdown-item" routerLinkActive="active" routerLink="/restricted"
            (click)="selectOption()">{{ 'Link' | translate }}</li>
          <li (click)="logout()" class="dropdown-item">{{ 'Logout' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</nav>